<div class="container">
  <h3 class="text-center my-4"><%= @product.title %></h3>
  <div class="separator"></div>
  <div class="d-flex">
    <%= cl_image_tag @product.photos.first.photo %>
    <div class="description">
      <%= humanized_money_with_symbol(@product.price) %>
      <p><%= @product.description %></p>
      <form action="<%= items_path %>" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= hidden_field_tag :cart_id, Cart.current(current_user, session).id %>
        <%= hidden_field_tag :product_id, @product.id %>
        <% @product.available_frames.each do |af| %>
          <label for="<%= af.frame.name %>"><%= af.frame.name %></label>
          <input id="<%= af.frame.name %>" name="frame_id" type="radio" value="<%= af.frame.id %>"/>
        <% end %>
        <label for="photo_size_id">Dimensions</label>
        <select id="photo_size_id" name="photo_size_id">
          <% @product.available_sizes.each do |as| %>
            <option value="<%= as.size.id %>"><%= as.size.size %></option>
          <% end %>
        </select>
        <label for="quantity">Quantité</label>
        <input type="number" id="quantity" name="quantity">
        <%= submit_tag "Ajouter au panier", class: "btn-base" %>
      </form>
    </div>
  </div>
</div>